<!DOCTYPE html>
<html lang="en-US" class="no-js no-svg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

</head>
<body style="height: 100%;margin: 0 auto;font-family: 'Roboto', sans-serif;background:#f8f9fa;display: block;width: 100%;">


<table style="margin:0px auto; width:60%;background-color: #f0f0f0;padding: 50px;">
	<thead>
		<th style="padding: 20px">
			<img src="./images/s1.png">
		</th>	
	</thead>
	<tbody style="padding: 25px; display: block;background-color: #fff;">
	<tr style="text-align: center;display: block;">
		<td style="width: 100%;float: left;"><h2>Password Reset</h2></td>
	</tr>
	<tr style="text-align: center;display:inline-block;width: 100%">
		<td style="text-align: center;display:inline-block;margin:30px">Seems like you forget your password for VPS . If this is true, click below to reset your password</td>
	</tr>
	<tr style="text-align: center;display:inline-block;width: 100%">
		<td style="text-align: center;display: inline-block;width: 100%">
			<a href="" class="btn btn-primary" style="border-radius: 20px; padding: 10px 12px;background-color: #4192f8!important;color: #fff;border:none;font-size: 18px; text-decoration: none;">Reset My password</a>
		</td>
	</tr>
	</tbody>
</table>
<br>

<div style="text-align: center; color: #ddd;">
	<a href="" style="color: #ddd;">Click to view website</a>
</div>
<div style="text-align:center;">
	<h1 style="font-size: 40px;font-weight: bold;color: #4192f8;padding-top: 10px;text-transform: uppercase;">Vps</h1>
</div>

<div style="text-align:center;">
	<p style="font-size: 16px;font-weight: bold;color: #9c9c9c;">you received this email because you sidned up for VPS</p>
</div>
</body>
</html>